body {
  background-color: black;
}

.main {
  background-color: white;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
  position: relative;
}

.ryu-ready, .ryu-still, .ryu-throwing ,.ryu-cool{
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-throwing ,.ryu-cool{
  display: none;
} 

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing ,.ryu-cool{
  background-repeat: no-repeat;
}



.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  position: relative;
  top: 167px;
  left: 442px;
  float: left;
}


.para {
  display:none;
  position: absolute;
  top:330px;
  right: 150px;
  border: 2px dashed orange;
  line-height: 2em;

}
.text1, .text2{
  color:#333;
  font-size: 24px;
  font-family: Helvetica, sans-serif;
}
.text2 {
  border-top: 2px dashed gray;
}















